<h3 id="interaction">Interaction</h3>
<div class="row">
  <div class="col-sm-12">
    <h4>Fancy Button</h4>
    <div class="button-container">
      <svg class="button-svg" viewBox="0 0 400 100" style="font: bold 50px sans-serif">
        <rect width="400" height="100" fill="#41893D"/>
        <text x="50%" y="50%" text-anchor="middle" alignment-baseline="central" fill="white">Commit</text>
        <g id="button-slider" fill="#53A353">
          <rect x="-300" width="400" height="100"/>
          <text id="button-dir-text" x="50" y="50" text-anchor="middle" alignment-baseline="central" fill="white">></text>
        </g>
        <text id="button-text-accepted" x="50%" y="50%" text-anchor="middle" alignment-baseline="central" fill="transparent">Commited</text>
      </svg>
    </div>
  </div>
</div>
