<h3 id="interaction">Interaction</h3>
<div class="row">
  <div class="col-sm-12">
    <h4>Fancy Button</h4>
    <div class="button-container">
      <svg class="button-svg" viewBox="0 0 400 100">
        <rect width="400" height="100" fill="#DDA0DD"/>
        <text x="50%" y="50%" text-anchor="middle" alignment-baseline="central" fill="white">Commit?</text>
        <g id="slider" fill="#DA70D6">
          <rect x="-325" width="400" height="100"/>
          <text id="direction" x="40" y="50" text-anchor="middle" alignment-baseline="central" fill="white">></text>
        </g>
        <text id="commited" x="50%" y="50%" text-anchor="middle" alignment-baseline="central" fill="white" display="none">Commited!</text>
      </svg>
    </div>
  </div>
</div>
